.card {
  max-width: 100%;
  &:hover {
    box-shadow: 5px 7px #003e6850;
  }
}

.card-button {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;

  & button {
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: rgba(34, 94, 121, 0.315);
    color: rgba(255, 255, 255, 0.781);
  }

  & :nth-child(1), :nth-child(2) {
    border: none;
    margin-right: 1.5%;
    border: 1px solid rgba(34, 93, 121, 0.801);

    &:hover {
      background-color: rgba(34, 93, 121, 0.801);
      color: white;
    }
  }
}

.produc-code {
  display: flex;
  justify-content: center;
  background-color: rgb(59, 106, 128);
  color: white;
  width: 80px;
}
