//?Import fonts
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Josefin+Sans&display=swap');
//?

.col-md-3 {
  border-right: 1px solid #003e6850;
}


.card {
  max-width: 100%;
  &:hover {
    box-shadow: 5px 7px #003e6850;
  }
}

.card-title {
  font-family: 'Almarai', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  color: #0167a6;
}

.card-button {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
  font-size: 2.8vh;


  & button {
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: rgba(34, 94, 121, 0.315);
    color: rgb(255, 255, 255);
  }

  & :nth-child(1), :nth-child(2) {
    border: none;
    margin-right: 1.5%;
    border: 1px solid rgba(34, 93, 121, 0.801);

    &:hover {
      background-color: rgba(34, 93, 121, 0.801);
      color: white;
    }
  }
}

.produc-code {
  display: flex;
  justify-content: center;
  background-color: rgb(59, 106, 128);
  color: white;
  font-size: 2vh;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: 'Almarai', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}

.produc-categorie {
  display: flex;
  justify-content: center;
  background-color: rgb(76, 112, 128);
  color: white;
  font-size: 2.5vh;
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'Almarai', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}

li::marker {
  color: rgb(108, 195, 236)
  ;
}

ul {
  padding-left: 1rem !important;
}